<a routerLink="/rentals/{{rental.id}}" class="card-link">
  <div class="card bwm-card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="">
    <div class="card-block">
      <h6 class="card-subtitle">Whole {{rental.category}} &#183; {{rental.city}}</h6>
      <h4 class="card-title">{{rental.title}}</h4>
      <p class="card-text">${{rental.dailyRate}} per Night &#183; Free Cancelation</p>
    </div>
  </div>
</a>