<section id="rentalListing">
  <h1 id="title">Your Home All Around the World</h1>
  <div class="row">
    <div class="col-md-3 col-xs-6" *ngFor="let rental of rentals">
      <bwm-rental-list-item [rental]="rental"></bwm-rental-list-item>
    </div>
  </div>
</section>
