<div *ngIf="rental">
  <p> {{rental.id}} </p>
  <p> {{rental.title}} </p>
  <p> {{rental.city}} </p>
  <p> {{rental.street}} </p>
  <p> {{rental.category}} </p>
  <p> {{rental.description}} </p>
  <p> {{rental.dailyRate}} $ </p>
</div>
